.footer {
    padding: 5.1rem 0;
    background-color: $color-white;

    @include breakpoint($tablet-width) {
        padding-top: 3.3rem;
        padding-bottom: 3rem;
    }

    @include breakpoint($mobile-width) {
        padding-top: 2.2rem;
        padding-bottom: 1.8rem;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;
        line-height: 1;

        @include breakpoint($tablet-width) {
            flex-direction: column;
            row-gap: 2rem;
        }
    }

    &__box {
        display: flex;
        gap: 2rem;
    }

    &__github {
        display: flex;
        align-items: center;
        color: $color-rich-black;
        transition: all .3s ease-in-out;

        &:hover {
            color: $color-deep-carrot-orange;
        }
    }

    &__school {
        padding-left: 1.4rem;
        color: $color-rich-black;
        transition: all .3s ease-in-out;

        @include breakpoint($tablet-width) {
            padding-left: 0;
        }

        &:hover {
            color: $color-deep-carrot-orange;
        }
    }

    &__social-list {
        display: flex;
        align-items: center;
        gap: 2.8rem;

        @include breakpoint($tablet-width) {
            gap: 3rem;
            padding: 1.1rem;
        }

        @include breakpoint($mobile-width) {
            padding: 0;
        }
    }

    &__social-list-link {
        display: flex;
        color: $color-rich-black;
        transition: all .3s ease-in-out;

        &:hover {
            color: $color-deep-carrot-orange;
        }
    }

    &__social-list-icon {
        fill: currentColor;
    }

}