.header {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 4.2rem 0;

        @include breakpoint($tablet-width) {
            padding: 3.5rem 0;
        }

        @include breakpoint($mobile-width) {
            padding: 3.3rem 0;
        }
    }

    &__buger-btn {
        display: none;
        padding: 0;

        @include breakpoint($tablet-width) {
            display: flex;
        }
    }

    &__buger-btn-icon {
        transition: all .3s ease-in-out;
    }
}
