.logo {
    display: inline-flex;
    align-items: baseline;
    gap: 0;

    &:hover {
        .logo__text {
            color: $color-deep-carrot-orange;
        }

    }

    &__text {
        font-family: $Inika-Regular;
        font-size: 1.6rem;
        line-height: 2;
        color: $color-rich-black;
        transition: all .3s ease-in-out;
    }
}