.logo {
    display: inline-flex;
    align-items: center;
    gap: 0.1rem;

    &:hover {
        .logo__text {
            color: $color-deep-carrot-orange;
        }

    }

    &__img {
        margin-right: 0.6rem;
    }

    &__text {
        font-family: $Inika-Regular;
        font-size: 1.6rem;
        line-height: 1.31;
        color: $color-rich-black;
        transition: all .3s ease-in-out;
    }
}