.navigation {

    @include breakpoint($mobile-width) {
        position: absolute;
        top: 0;
        z-index: 50 ;
        right: -16.5rem;
        width: 16.5rem;
        padding: 4.4rem 1.5rem 3rem 4.4rem;
        border-radius: 10px;
        text-align: right;
        box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
        transition: all .3s ease-in-out;

        &._active {
            right: 0;
            background-color: $color-isabelline;
        }
    }

    &__list {
        display: flex;
        gap: 4.6rem;

        @include breakpoint($mobile-width) {
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__list-link {
        font-family: $Inika-Regular;
        font-size: 1.6rem;
        line-height: 3.12;
        color: $color-rich-black;
        transition: all .3s ease-in-out;

        &:hover {
            text-shadow: 0 0 0.9px $color-deep-carrot-orange;
            color: $color-deep-carrot-orange;
        }

        &._active {
            text-shadow: 0 0 0.9px $color-deep-carrot-orange;
            color: $color-deep-carrot-orange;
        }
    }

    &__close-btn {
        display: none;
        padding: 0.2rem;
        position: absolute;
        top: 1.58rem;
        left: 1.58rem;
        color: $color-rich-black;
        opacity: 0.7;
        transition: all .3s ease-in-out;

        &:hover {
         color: $color-deep-carrot-orange;
        }

        @include breakpoint($mobile-width) {
            display: flex;
        }
    }
}
