.services-item {
    max-width: 33rem;


    @include breakpoint($tablet-width) {
        max-width: 28rem;
    }

    @include breakpoint($mobile-width) {
        width: 100%;
        max-width: 100%;
    }

    &__img {
        border-radius: 20px 20px 0px 0px;
        overflow: hidden;

        img {
            width: 100%;
            max-height: 35rem;
            object-fit: cover;
        }
    }

    &__content {
        padding: 1rem 1rem 3.6rem 1rem;
        border: 1px solid $color-white-coffee;
        border-radius: 0px 0px 20px 20px;
        text-align: center;

        @include breakpoint($tablet-width) {
            padding-bottom: 2rem;
        }
    }

    &__name {
        font-family: $Inter-Bold;
        font-size: 2rem;
        line-height: 1;
        color: $color-deep-carrot-orange;
    }

    &__description {
        margin-top: 1.3rem;
        font-size: 1.6rem;
        color: $color-dark-silver;

        @include breakpoint($tablet-width) {
            margin-top: 1rem;
        }
    }
}